    body {
        margin: 0;
        background-color: aqua;
        background-image: url("city.jpg");
        background-repeat: no-repeat;
        background-position: right top;
    }
    
    * {
        text-align: center;
    }